.root: {
    display: 'flex';
  }
.toolbar: {
  padding-right: 24px;
}
.toolbarIcon: {
  display: 'flex';
  align-items: 'center';
  justify-content: 'flex-end';
  padding: '0 8px';
}
.appBar: {
  z-index: 100;
  
}
.appBarShift: {
  margin-left: 240px;
  width: calc(100% - ${240}px);
}
.menuButton: {
  margin-right: 36px;
}
.menuButtonHidden: {
  display: 'none';
}
.title: {
  flex-grow: 1;
}
.drawerPaper: {
  position: 'relative';
  white-space: 'nowrap';
  width: 240px;
}
.drawerPaperClose: {
  overflow-x: 'hidden';
  width: 200px;
}

.container: {
  padding-top: 10px;
  padding-bottom: 40px;
}
.paper: {
  padding: 10px;
  display: 'flex';
  overflow: 'auto';
  flex-direction: 'column';
}
.fixedHeight: {
  height: 240px;
}