<div class="centerElement">
  <div id="header">
    <div class="section">
      <div>
        <b> AVAILABLE:
        <b ng-class="{ negativeAmount: availableMonies < 0 }">
          {{availableMonies | currency : symbol : fractionSize}}
          </b>
        </b>
      </div>
      <div>
      Expenses Total: {{totalExpenses | currency : symbol : fractionSize}}
      </div>
      <div>
        Income Total: {{totalIncome | currency : symbol : fractionSize}}
      </div>
      <button id="logout" type="submit" ng-click="logout()">logout</button>
    </div>

  </div>

  <button ng-click="showExpensesInput()" ng-show="!showExpenseInput">
    Add Expense
  </button>
  <button ng-click="showExpensesInput()" ng-show="showExpenseInput">
    X
  </button>

  <button ng-click="showIncomesInput()" ng-show="!showIncomeInput">
    Add Income
  </button>
  <button ng-click="showIncomesInput()" ng-show="showIncomeInput">
    X
  </button>


  <div ng-show="showExpenseInput">
    <form name="inputExpense">
      <div>
        <b>Select a category</b>
      </div>
      <div class="wideContainer">
        <div class="category buttonthing" ng-class="{'active': isActive}" ng-click="activeButton(); selectCategory(category)" ng-repeat="category in allCategories">
            {{category.category}}
        </div>
      </div>
      <div class="expenseContainer">
        <input type="number" step="any" name="expenseAmount" autocomplete="off" placeholder="Add an Amount" required ng-model="inputExpense.amount"><br>

        <input type="text" name="expenseComment" autocomplete="off" placeholder="Add a Comment" required ng-model="inputExpense.comment"><br>

        <!-- Calendar date picker -->
        <div>
            <div>
              Purchased on: {{dt | date:'fullDate' }}
            </div>

            <div class="calendar">
              <uib-datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker>
            </div>
            <button type="button" ng-click="today()">Today</button>
        </div>
        <!-- end of calendar -->

        <div class="section">
          <button id="loadExpenses" type="submit" ng-click="addExpenses()" ng-disabled="inputExpense.$invalid">Add Expense</button>
        </div>
        <div ng-show="selectCategoryAlerts">
          Please select a category
        </div>

      </div>
    </form>
  </div>

  <div ng-show="showIncomeInput">
    <form name="inputIncome">
      <div><b>Select Source</b></div>
      <!-- <div class="wideContainer">
         <div ng-click="selectSource(source)" ng-repeat="category in allCategories">
            {{category.category}}
        </div>
      </div> -->
      <div class="incomeContainer">
        <input type="number" step="any" name="incomeAmount" autocomplete="off" placeholder="Add Income" required ng-model="inputIncome.amount"><br>

        <input type="text" name="incomeSource" autocomplete="off" placeholder="Add Source" required ng-model="inputIncome.source"><br>

        <!-- Calendar date picker -->
        <div>
            <div>
              Purchased on: {{dt | date:'fullDate' }}
            </div>

            <div class="calendar">
              <uib-datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker>
            </div>
            <button type="button" ng-click="today()">Today</button>
        </div>
        <!-- end of calendar -->

        <div class="section">
          <button id="loadIncome" type="submit" ng-click="addIncome()" ng-disabled="inputIncome.$invalid">Add Income</button>
        </div>
        <div ng-show="selectCategoryAlerts">
          Please select a Source
        </div>

      </div>
    </form>

  </div>

  <div class="wideContainer">
    <div>Expenses (Displaying last 30)</div>
    <div class="col-xs-3 col-md-3 text-right"><b>Amount</b></div>
    <div class="col-xs-3 col-md-3 text-right"><b>Date</b></div>
    <div class="col-xs-3 col-md-3 text-right"><b>Comment</b></div>
    <div class="col-xs-3 col-md-3 text-right"><b>Category</b></div>
    <div ng-repeat="expenseLine in allExpenses | limitTo:expenseQuantity">
      <div class="col-xs-3 col-md-3 text-right">
        {{expenseLine.amount | currency : symbol : fractionSize}}
      </div>
      <div class="col-xs-3 col-md-3 text-right">
        {{expenseLine.createdAt | date : format : timezone}}
      </div>
      <div class="col-xs-3 col-md-3 text-right">
        {{expenseLine.comment}}
      </div>
      <div class="col-xs-3 col-md-3 text-right">
        {{expenseLine.category}}
      </div>
    </div>
  </div>
  <div class="wideContainer">
  <div>Income (Displaying last 30)</div>
    <div class="col-xs-4 col-md-4 text-right"><b>Amount</b></div>
    <div class="col-xs-4 col-md-4 text-right"><b>Date</b></div>
    <div class="col-xs-4 col-md-4 text-right"><b>Source</b></div>
    <div ng-repeat="incomeLine in allIncome">
      <div class="col-xs-4 col-md-4 text-right">
        {{incomeLine.amount | currency : symbol : fractionSize}}
      </div>
      <div class="col-xs-4 col-md-4 text-right">
        {{incomeLine.createdAt  | date : format : timezone}}
      </div>
      <div class="col-xs-4 col-md-4 text-right">
        {{incomeLine.source}}
      </div>
    </div>
  </div>
</div>
